.Container2{
    width: 474px;
    background-color: white;
    margin-left: 35%;
    border-radius: 10px;
    padding: 14px;
}
.ShowUserData{
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 3px;
    padding: 8px;
    margin-bottom: 8px;
}
